.main-div
{
    //border: 1px solid green;
    background-color: white;
    padding: 10px 10px 10px 10px;
    text-align: left;
    
}

i
{
    margin-top: 8px;
}

.color-div
{
    background-color: red;
    margin: 0px 5px;
    width: 30px;
    height: 30px; 
}

.my-notes-div
{
    //border: 1px solid red;
}

.my-notes-header
{
    background-color: #0066ff;
    padding: 15px;
    margin: 2px auto;
}