.main-div
{
    //border: 1px solid green;
    position: fixed;
    background-color: #0066ff;
    text-align: center;
    color: #ffffff;
    font-size: 12px;
    padding: 5px;
    margin-top: 505px;
}