.main-div
{
    background-color: white;
    margin-top: 5%;
}

.login-div
{
    background-color: #0066ff;
    border-radius: 5px;
    padding-top: 2%;
    padding-bottom: 2%;
    color: white;
}

.side-text
{
    color: #0066ff;
}

.buttons
{
    color: #0066ff;
}

.form-elements
{
    margin-bottom: 20px;
}

a
{
    color: #0066ff;
    text-decoration: underline;
}