<div class="main-div container">
    <div class="row">
      <div class="col-md-1">
      
      </div>

      <div class="side-text col-md-10">
        <h1>Registration Successful!</h1>
        <br>
        <h2>You have successfully registered to <span style="font-family: 'Pacifico', serif;">MyNotes</span>.
          <br>
          Please <a routerLink="login" title="Login">login</a> to continue...
          Redirecting to login page, please wait ...
        </h2>
      </div>
      
      <div class="col-md-1">
      
      </div>
    
</div>

<router-outlet></router-outlet>