.main-div
{
    //border: 1px solid green;
    //background-color: rgba($color: #0066ff, $alpha: 0.2);
    background-color: white;
    padding: 10px 15px;
    color: #0066ff;
    
}

img
{
    height: 110px;
}

.heading-div
{
    display: inline-block;
}

h1
{
    font-family: "Pacifico", serif;
    font-weight: bold;
    font-size: 50px;
}

a
{
    margin-top: 25px;
    color: #0066ff;
}